#version=RHEL8
# Use graphical install
graphical

repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream

%packages
@^graphical-server-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network --device=eth0 --noipv6 --bootproto=dhcp --onboot=on --activate
network --hostname=standard7

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable

# System bootloader configuration
# CCE-27212-0 Enable Auditing for Processes Which Start Prior to the Audit Daemon
bootloader --append=" crashkernel=auto audit=1" --location=mbr --boot-drive=vda

# Partition clearing information
ignoredisk --only-use=sda
zerombr

clearpart --none --initlabel

# On production systems boot should be increased to 1024
part /boot --fstype="xfs" --asprimary --size=512 --fsoptions="defaults,nodev"
part pv.253002 --fstype="lvmpv" --grow --size=8448
volgroup vg_virt --pesize=4096 pv.253002

logvol / --fstype="xfs" --name=lv_root --vgname=vg_virt --size=4096
logvol swap --name=lv_swap --vgname=vg_virt --size=256

# CCE-26557-9: Ensure /home Located On Separate Partition
logvol /home  --fstype="xfs" --size=1024 --name=lv_home --vgname=vg_virt --fsoptions="defaults,nodev,nosuid"

# CCE-26639-5: Ensure /var Located On Separate Partition
logvol /var   --fstype="xfs"  --size=1024  --name=lv_var  --vgname=vg_virt --fsoptions="defaults,nodev"

# CCE-26215-4: Ensure /var/log Located On Separate Partition
logvol /var/log  --fstype="xfs" --size=1024 --name=lv_log --vgname=vg_virt --fsoptions="defaults,nodev"

# CCE-26436-6: Ensure /var/log/audit Located On Separate Partition
logvol /var/log/audit  --fstype="xfs" --size=512 --name=lv_audit --vgname=vg_virt --fsoptions="defaults,nodev"

# CCE-26435-8: Ensure /tmp Located On Separate Partition
# Note: the noexec here may prevent same installation scripts from running which assume they 
# can execute out of /tmp.  The filesystem can be changed without umounting using the
# command: mount -o exec,remount /tmp
logvol /tmp   --fstype="xfs" --size=512   --name=lv_tmp  --vgname=vg_virt --fsoptions="defaults,nodev,nosuid,noexec"

# CCE-27278-1 Specify a Remote NTP Server
# CIS 3.6 Configure Network Time Protocol
# System timezone
timezone America/New_York --isUtc --ntpservers=0.us.pool.ntp.org,1.us.pool.ntp.org

# Root password
rootpw --plaintext abc123

# User accounts
user --name=admin --password=abc123 --gecos="admin" --groups=wheel
user --name=user  --password=abc123 --gecos="user"

# System services

services --enabled="chronyd"

# CCE-80188-6 Enable rsyslog Service
services --enabled="rsyslog"

# CCE-80265-2 Enable Process Accounting (psacct)
services --enabled="psacct"


# CCE-27443-1 Disable xinetd Service
services --disabled=xinetd

# CCE-27401-9 Disable telnet Service
services --disabled=rexec

# CCE-27385-4 Disable ypbind Service
services --disabled=ypbind

# CCE-80212-4 Disable tftp Service
services --disabled=tftp

# CCE-26872-2 Disable Automatic Bug Reporting Tool (abrtd)
services --disabled=abrtd

#  CCE-80262-9 Disable ntpdate Service
# http://support.ntp.org/bin/view/Dev/DeprecatingNtpdate
#services --disabled=ntpdate

# CCE-80263-7 Disable Odd Job Daemon
services --disabled=oddjobd

# CCE-80266-0 Disable Apache Qpid
services --disabled=qpidd

# CCE-80268-6 Disable Network Router Discovery Daemon
services --disabled=rdisc

# CCE-80273-6 Disable System Statistics Reset Service (sysstat)
services --disabled=sysstat

# CCE-80345-2 Disable At Service
services --disabled=atd

# CCE-27328-4 Disable Bluetooth Service
services --disabled=bluetooth

# CCE-80282-7 Disable the CUPS Service
services --disabled=cups

# CCE-27498-5 Disable Automounter
services --disabled=autofs

# Reboot after installation
reboot

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
